:root {
  --sidebar-bg-color: #F1F5F9;
  --sidebar-item-active: #E0E1FF;
  --sidebar-item-color: #3085fe;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.dashboard-layout {
  display: flex;
  height: 100vh;
}

.main {
  transition: 0.3s linear;
}

.container {
  max-height: 85vh;
  overflow-y: auto;
}

.container-fluid {
  max-height: 100vh;
  overflow-y: auto;
}

.password {
  position: relative;
}

.password .move {
  top: 54%;
  right: 28px;
}

.eye {
  position: absolute;
  right: 15px;
  top: 74%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #aaa;
}

.chart-canvas {
  width: 100%;
  height: 300px !important;
}

.dep {
  font-size: 14px;
  color: gray;
}

.third {
  color: #CD7F32;
}

.fourth {
  color: #ef7e13;
}

.fifth {
  color: #A9A9A9;
}

.filter-nav button:hover {
  background: none;
}

.filter-nav button {
  border: none;
  background: none;
  font-size: 0.7rem;
  padding: 0;
  margin-right: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 900;
  color: #aaa;
}

.filter-nav button.active {
  color: #00324E !important;
}

.date {
  background-color: rgba(243, 240, 240, 0.474) !important;
}

.positive {
  color: rgb(0, 192, 0);
}

.empCon {
  height: 250px;
  overflow-y: scroll;
}

.dep {
  font-size: 14px;
  color: gray;
}

.card {
  display: flex;
  flex-direction: column;
}

.login-title {
  color: #00324E !important;
  font-size: 14px !important;
}

.vertical-line {
  display: inline-block;
  width: 1px;
  height: 30px;
  background-color: #c4bfbf;
  margin: 0;
}
